.dashboard-main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    .dashboard-main {
       display: flex;
       width: 100%;
       height: calc(100% - 60px);
       padding-top: 60px;
     .dashboard-main-container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 20%;
        border-right: 0.5px solid hsl(var(--border));
        height: 100%;
        overflow: scroll;
        .dashboard-main-container-left-heading {
            display: flex;
            justify-content: flex-start;
            font-size: 18px;
            padding-top: 20px;
        }
        .dashboard-main-container-left-topic-lists {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            .dashboard-main-container-topic-element {
                cursor: pointer;
                color: hsl(var(--muted-foreground));
                font-weight: bold; /* Bold for emphasis */
                text-decoration: none; /* Remove underline */
                font-size: 14px;
                letter-spacing: 1px; /* Small spacing for elegance */
                transition: color 0.3s; /* Smooth color transition */
                cursor: pointer;
            }
            .dashboard-main-container-topic-element:hover {
                color: white;
                text-decoration: underline;
            }
        }
     }
     .dashboard-main-container-left {
        overflow: scroll;
        scrollbar-width: none; /* Firefox */
    }
    
    .dashboard-main-container-left::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }
     .dashboard-main-container-mid {
        width: 65%;
        border-right: 0.5px solid hsl(var(--border));
        height: 100%;
     }
     .dashboard-main-container-right {
         width: 25%;
         height: 100%;
     }
    }
}
.dashboard-light-mode {
    background-color: white;
    color: black;
}