.dashboard-main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    .dashboard-main {
       display: flex;
       width: 100%;
       height: calc(100% - 60px);
       padding-top: 60px;
     .dashboard-main-container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 20%;
        border-right: 0.5px solid hsl(var(--border));
        height: 100%;
        overflow: scroll;
        padding-top: 40px;
        .dashboard-main-container-left-heading {
            font-size: 16x;
            font-weight: bold;
            text-align: center;
        }
        .dashboard-main-container-left-topic-lists {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-left: 30px;
            .dashboard-main-container-topic-element {
                cursor: pointer;
            }
        }
     }
     .dashboard-main-container-left {
        overflow: scroll;
        scrollbar-width: none; /* Firefox */
    }
    
    .dashboard-main-container-left::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }
     .dashboard-main-container-mid {
        width: 65%;
        border-right: 0.5px solid hsl(var(--border));
        height: 100%;
     }
     .dashboard-main-container-right {
         width: 25%;
         height: 100%;
     }
    }
}
.dashboard-light-mode {
    background-color: white;
    color: black;
}