.footer {
    position: fixed;
    display: flex;
    width: 100%;
    padding-inline: 20px;
    padding-block: 20px;
    align-items: center;
    color: white;
    justify-content: center;
    background-color: black;
    z-index: 2;
    bottom: 0px;
    left: 0px;
}