.mode-toggle {
    display: flex;
    gap: 5px;
    .toggle-sun {
        display: flex;
        cursor: pointer;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: white;
        color: black;
        border-radius: 5px;
    }
    .toggle-moon{
        display: flex;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:black;
        color: white;
        border-radius: 5px;
    }
}